<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=no">
    <title>公共组件 demo</title>
    <link href="//api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.css" rel="stylesheet" type="text/css" />
    
        <link href="//fedemo.mama.cn/component/dist/vendor-eca98ded.css" rel="stylesheet">
        
        <link href="//fedemo.mama.cn/component/dist/app-3a56bb15.css" rel="stylesheet">
        
</head>

<body>
    <div id="app">
        <router-view></router-view>
    </div>
    <script src="//api.map.baidu.com/api?v=2.0&ak=yvVK3d5pPnOFq9CzrqWC9r3h"></script>
    <!-- 百度地图热力图类库 -->
    <script type="text/javascript" src="//api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
    <!-- 百度地图路况类库 -->
    <script type="text/javascript" src="//api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.js"></script>
    
        <script src="//fedemo.mama.cn/component/dist/z-mainifest-fc84a97a.js"></script>
        
        <script src="//fedemo.mama.cn/component/dist/vendor-d4a5f523.js"></script>
        
        <script src="//fedemo.mama.cn/component/dist/app-125a6327.js"></script>
        
</body>

</html>